* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(228, 202, 166);
    height: 200px;
    display: flex;
    justify-content: center;      
}

.container {
    background-color: rgb(248, 246, 242);
    width: 900px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding: 20px;       
}

section {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(248, 246, 242);
}

footer {
    background-color: rgb(228, 202, 166);
    height: 200px;
    display: flex;
    justify-content: center;
}

img {
    height: 300px;
}

.logo-whatsapp {
    height: 50px;
    margin-top: -12px;
}
.imagem-header {
    height: 200px;
    padding-top: 7px;
}

.imagem-footer {
    height: 200px;
    padding-top: 10px;   
}

a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.comprar {   
    color: green;
    margin-top: 1px;
}

 .link {
    background-color: rgb(195, 228, 195);
    height: 35px;
    display: flex;
    justify-content:center;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;  
 }

@media screen and (max-width: 753px) {
    img {
        height: 250px;
    }
    
}

@media screen and (max-width:643px) {
    img {
        height: 250px;
    }
}

@media screen and (max-width:500px) {
    img {
        height: 210px;
    }
    .container {
        gap: 3px;
    }
    header {
        height: 120px;
    }
    .imagem-header {
        height: 125px;
    }
    footer {
        height: 120px;
    }
    .imagem-footer {
        height: 125px;
    }

    a {
        font-size: 17px;
    }
    .logo-whatsapp {
        height: 37px;
        margin-top:-8px;
    }
    
}

@media screen and (max-width:379px) {
    img {
        height: 200px;
    }
    .container {
        gap: 5px;
    }
  
}

@media screen and (max-width: 367px) {
    img {
        height: 190px;
    }
    .container {
        gap: 5px; 
    }
 
   
}

@media screen and (max-width: 350px) {
    img {
        height: 180px;
    }
    .container {
        gap: 5px; 
    } 
}