* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.comprar {   
    color: green;
    margin-top: 1px;
}

 .link-pág2{
    background-color: rgb(195, 228, 195);
    height: 35px;
    display: flex;
    justify-content:center;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;  
    font-size: 20px;
    width: 832px;
 }

 .logo-whatsapp {
    height: 50px;
    margin-top: -12px;
}

a {
    text-decoration: none;
}

@media screen and (max-width:500px) {
    .link-pág2 {
        width: 100vw;
        height: 40px;
    }
    a {
        text-decoration: none;
    }
    .logo-whatsapp {
        height: 55px;
    }
    .link-pág2 {
        font-size: 25px;
    }
}