* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.comprar {   
    color: green;
    margin-top: 1px;
}

 .link-p치g2{
    background-color: rgb(195, 228, 195);
    height: 35px;
    display: flex;
    justify-content:center;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;  
    font-size: 20px;
    width: 832px;
 }

 .logo-whatsapp {
    height: 50px;
    margin-top: -12px;
}

a {
    text-decoration: none;
}

.bloco-1-p치g2 {
   margin: auto;
}
@media screen and (max-width:500px) {
    .link-p치g2 {
        width: 100vw;
        height: 40px;
    }
    a {
        text-decoration: none;
    }
    .logo-whatsapp {
        height: 55px;
    }
    .link-p치g2 {
        font-size: 25px;
    }
}